.character-details {
    color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
}

.character-details-card {
    font-family: 'Josefin Sans', sans-serif;
    border: 2px dashed #8b8b8b;
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: #000;
    border-radius: 10px;
    padding: 2rem;
    margin: 0 1rem 3rem;
}

.character-info {
    margin-left: 2rem;
}

.character-info > div { 
    margin-bottom: .5rem;
}

.character-img {
    border-radius: 50%;
    margin-bottom: 2rem;
}

.character-name {
    font-family: 'Archivo Black', sans-serif;
    color: #B3D24C;
    font-size: 1.3rem;
}