.episodes-container {
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.episode-card {
    color: #fff;
}

.episode-name {
    font-family: 'Archivo Black', sans-serif;
    color: #B3D24C;
    font-size: 1.1rem;
}

.episode-date {
    font-size: .9rem;
    margin: 1rem 0;
}

.episode {
    color: #00afc7;
}

@media (max-width: 1000px) {
    .episodes-container {
        margin-top: 135px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 786px) {
    .episodes-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .episodes-container {
        grid-template-columns: 1fr;
    }
}