.location-card {
    transition: all .2s ease-in-out;
}

.location-card:hover {
    box-shadow: 0px 17px 26px 0px #000;
    transform: translateY(-10px);
}

.location-name {
    font-size: 1.5rem;
    color: #b3d24c;
    margin: 0 0 15px;
    transition: all .15s ease-in-out;
}

.location-card:hover .location-card-name {
    color: #b3d24c;
}

.location-type {
    color: #b6b6b6;
    margin: 0;
}

.location-residents {
    margin: 5px 0 0;
    color: #fff;
}