/* .accordion-item {

} */

.accordion-item-btn {
    background-color: #787878;
    cursor: pointer;
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.accordion-item.active .accordion-item-body {
    max-height: 200px;
}