.back-btn {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding: 5px 15px 0 5px;
    margin-bottom: 25px;
    color: #fff;
    text-align: right;
    border: none;
    width: 100px;
    height: 40px;
    background-color: #b3d24c;
    background-image: url(../../assets/left-arrow.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: left 5px top 50%;
    border-radius: 5px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.back-btn:hover {
    background-color: #00AFC7;
    background-position: left;
}